
@{
    ViewBag.Title = "AdminUserPage1";
}

<h2>AdminUserPage1</h2>

<body>

    <link href="https://moviesendpoint.azureedge.net/Content/Css/irctc.css" rel="stylesheet" />
    <script src="~/Scripts/CommonJs.js"></script>

    <div _ngcontent-c9="" class="iconsection">
        <h2 _ngcontent-c9="">Admin Console<br _ngcontent-c9="">Welcome</h2>
        <ul _ngcontent-c9="" id="uladmin">
            <li _ngcontent-c9="">
                <a>

                    <span _ngcontent-c9="" class="allcircle circleone"></span>  <img src="~/Content/Image/Icons/Movie.png" style="width:50%; height:10%"><label _ngcontent-c9="">@Html.ActionLink("Add Movie", "AddMovie", "Admin")</label>
                </a>
            </li>
            <li _ngcontent-c9="">
                <span _ngcontent-c9="" class="allcircle circletwo"></span><img src="~/Content/Image/Icons/Seat.png" style="width:50%; height:10%">
                <label _ngcontent-c9=""><a href="javascript:void(0);" class="Adminpage" data-id="AddTicket">Add Seats</a></label>
            </li>
            <li _ngcontent-c9="">

                <span _ngcontent-c9="" class="allcircle circlethree"></span><img src="~/Content/Image/Icons/money.ico" style="width:50%; height:10%">
                <label _ngcontent-c9=""><a href="javascript:void(0);" class="Adminpage" data-id="ChangePrice">Updat Ticket Price</a></label>

            </li>
            <br _ngcontent-c9="" class="none991">
            <li _ngcontent-c9="">

                <span _ngcontent-c9="" class="allcircle circlefour"></span><img src="~/Content/Image/Icons/Feed.png" style="width:50%; height:10%">
                <label _ngcontent-c9="">@Html.ActionLink("Feedbacks", "ViewFeedback", "Admin")</label>

            </li>

            <li _ngcontent-c9="">
                <a _ngcontent-c9="" href="" target="_blank">
                    <span _ngcontent-c9="" class="allcircle circlefive"></span><img src="~/Content/Image/Icons/Feed.png" style="width:50%; height:10%">
                    <label _ngcontent-c9="">@Html.ActionLink("Screens Info", "MovieInfo", "Admin")</label>
                </a>
            </li>
            <li _ngcontent-c9="">
                <a _ngcontent-c9="" href="" target="_blank">
                    <span _ngcontent-c9="" class="allcircle circlefive"></span><img src="~/Content/Image/Icons/Review.png" style="width:50%; height:10%">
                    <label _ngcontent-c9=""> @Html.ActionLink("Show Review", "LoadReview", "Admin")</label>
                </a>

            </li>
            <li _ngcontent-c9="">
                <a _ngcontent-c9="" href="" target="_blank">
                    <span _ngcontent-c9="" class="allcircle circleseven"></span><label _ngcontent-c9="">
                        @Html.ActionLink("Upload Review", "ReviewUpload", "Admin")

                    </label>
                </a>
            </li>
            <li _ngcontent-c9="">
                <a _ngcontent-c9="" href="" target="_blank">
                    <span _ngcontent-c9="" class="allcircle circleight"></span><label _ngcontent-c9="">

                    </label>
                </a>
            </li>
            <li _ngcontent-c9="">
                <a _ngcontent-c9="" href="" target="_blank">
                    <span _ngcontent-c9="" class="allcircle circlenine"></span><label _ngcontent-c9=""></label>
                </a>
            </li>
        </ul>
    </div>

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent' align="center"></div>
            </div>
        </div>
    </div>
</body>