@model IEnumerable<WebApplication2.Models.ComplientList>

@{
    ViewBag.Title = "Complient";
   
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/CSS/bootstrap.min.book.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />
   
   
</head>
<body>
    <h2>Complient</h2>
    

    <hr />
    <table class="table">
        <tr class="border-radius border-color">
            <th>
                @Html.DisplayName("User Name")
            </th>
            <th>
                @Html.DisplayName("Issue type")
            </th>
            <th>
                @Html.DisplayName("Issue Description")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.compstatus)
                </th>*@
            <th>
                @Html.DisplayName("Posted Date")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descriptiontext)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.compstatus)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.posteddate)
                </td>
              
            </tr>
        }

    </table>
</body>
</html>
