@model IEnumerable<WebApplication2.Models.TicketAvaliblity>

@{
    Layout = null;
}
<style>
    .class1 {
        color: palegreen
    }

    .class2 {
        color: aqua
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Ticket Details</h4>
</div>

<table class="table">
    <tr>
        <th>
            Screen 
        </th>
        <th>
            Class 
        </th>
        <th>
           Show-1
        </th>
        <th>
            Show-2
        </th>
        <th>
            Show-3
        </th>
        <th>
            Show-4
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Screen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.s1, new { @class = "class2" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.s4)
            </td>

        </tr>
    }

</table>

